* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    background: #f8fafc;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: #0f172a;
}

p {
    margin-bottom: 1.5rem;
    max-width: 40em;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.products {
    padding: 5rem 0;
}

.products-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
}

.products-container {
    display: grid;
    gap: 2rem;
}

.single-product-img {
    border-radius: 0.25rem;
    height: 15rem;
}

.single-product footer {
    padding: 0.75rem 0;
    text-align: center;
}

.single-product .name {
    margin-bottom: 0.25rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #64748b;
}

.single-product .price {
    margin-bottom: 0;
    color: #64748b;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 1px;
}

.error {
    text-align: center;
    font-size: 2rem;
}

.btn {
    cursor: pointer;
    color: #fff;
    background: #645cff;
    border: transparent;
    border-radius: 0.25rem;
    letter-spacing: 1px;
    padding: 0.375rem 0.75rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    transition: 0.3s ease-in-out all;
    text-transform: capitalize;
    display: inline-block;
}

.btn:hover {
    background: #3c3799;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.loading {
    width: 6rem;
    height: 6rem;
    border: 5px solid #94a3b8;
    border-radius: 50%;
    border-top-color: #645cff;
    animation: spinner 0.6s linear infinite;
}

.loading {
    margin: 0 auto;
    margin-top: 4rem;
}
  
.title {
    text-align: center;
    margin-bottom: 3rem;
}
  
.title-underline {
    background: #645cff;
    width: 7rem;
    height: 0.25rem;
    margin: 0 auto;
    margin-top: -1rem;
}

.home-link {
    display: block;
    width: 150px;
    margin: 2rem auto;
    text-align: center;
}

.product {
    padding: 5rem 0;
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
}

.product-loading {
    text-align: center;
}
  
.product-wrapper img {
    height: 15rem;
    border-radius: 0.25rem;
}
  
.product-color {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #222;
    margin: 0.5rem 0.5rem 0.25rem 0;
}
  
.product-info {
    padding-top: 1rem;
}

.product-info h3 {
    margin: 0;
    margin-bottom: 0.25rem;
}

.product-info h5 {
    color: #64748b;
    margin: 0;
    margin-bottom: 0.25rem;
}

.product span {
    color: #1e293b;
}
  
.product p {
    margin: 0;
    margin-bottom: 1.25rem;
}

@media screen and (min-width: 768px) {

    .product-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 2rem;
    }

    .product-wrapper img {
      height: 100%;
      max-height: 500px;
    }
}

@media screen and (min-width: 768px) {

    .products-container {
      grid-template-columns: repeat(2, 1fr);
    }

    .single-product-img {
      height: 10rem;
    }

    .single-product .name {
      font-size: 0.85rem;
    }

    .single-product .price {
      font-size: 0.85rem;
    }

    .single-product {
      margin-bottom: 0;
    }
}

@media screen and (min-width: 1000px) {

    .products-container {
      grid-template-columns: repeat(3, 1fr);
    }
}

@keyframes spinner {

    to {
      transform: rotate(360deg);
    }
}